
<section>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb d-flex justify-content-end">
        <li class="breadcrumb-item"><a href="/employee/index">Employee</a></li>
        <li class="breadcrumb-item active" aria-current="page">Detail</li>
    </ol>
  </nav>



  <h1 class="h2">Employees</h1>


  <div class="row my-4">
    <div class="card shadow">
      <div class="card-body">
        <ul class="list-group list-group-unbordered mb-3">
          <li class="list-group-item">
            <b>Fullname</b> <p class="float-right">{{employee.fullname}}</p>
          </li>
          <li class="list-group-item">
            <b>Email</b> <p class="float-right">{{employee.email}}</p>
          </li>
          <li class="list-group-item">
            <b>Salary</b> <p class="float-right">{{employee.salary}}</p>
          </li>
          <li class="list-group-item">
            <b>Status</b> <p class="float-right">{{employee.status}}</p>
          </li>
          <li class="list-group-item">
            <b>Group</b> <p class="float-right">{{employee.group}}</p>
          </li>

        </ul>
      </div>

    </div>
  </div>

</section>

