<div class="card shadow-lg">
  <div class="card-body p-5">
    <h1 class="fs-4 card-title fw-bold mb-3">Register</h1>


    <form [formGroup]="registerForm" (ngSubmit)="register()" class="needs-validation" novalidate="" autocomplete="off">
      <div class="mb-3">
        <label class="mb-2 text-muted" for="fullname">Fullname</label>
        <input type="text" class="form-control" formControlName="fullname">
        <div class="invalid-feedback" *ngIf="f['fullname'].touched && f['fullname'].invalid">
          <div *ngIf="f['fullname'].errors && f['fullname'].errors['required']">Fullname is required.</div>
        </div>
      </div>

      <div class="mb-3">
        <label class="mb-2 text-muted" for="username">Username</label>
        <input type="text" class="form-control" formControlName="username">
        <div class="invalid-feedback" *ngIf="f['username'].touched && f['username'].invalid">
          <div *ngIf="f['username'].errors && f['username'].errors['required']">Username is required.</div>
        </div>
      </div>
      <div class="mb-3">
        <label class="mb-2 text-muted" for="mobile">Mobile</label>
        <input type="text" class="form-control" formControlName="mobile" value="" required autofocus>
        <div class="invalid-feedback" *ngIf="f['mobile'].touched && f['mobile'].invalid">
          <div *ngIf="f['mobile'].errors && f['mobile'].errors['required']">Mobile is required.</div>
        </div>
      </div>

      <div class="mb-3">
        <label class="mb-2 text-muted" for="email">Email</label>
        <input type="email" class="form-control" formControlName="email" value="" required>
        <div class="invalid-feedback" *ngIf="f['email'].touched && f['email'].invalid">
          <div *ngIf="f['email'].errors && f['email'].errors['required']">Email is required.</div>
        </div>
      </div>

      <div class="mb-3">
        <label class="mb-2 text-muted" for="password">Password</label>
        <input type="password" class="form-control" formControlName="password" required>
        <div class="invalid-feedback" *ngIf="f['password'].touched && f['password'].invalid">
          <div *ngIf="f['password'].errors && f['password'].errors['required']">Password is required.</div>
        </div>
      </div>

      <div class="align-items-center d-flex">
        <button type="submit" class="btn btn-primary ms-auto" [disabled]="!registerForm.valid">
          Register
        </button>
      </div>
    </form>
  </div>
  <div class="card-footer py-3 border-0">
    <div class="text-center">
      Already have an account? <a href="/login" class="text-dark">Login</a>
    </div>
  </div>
</div>
