
<section>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb d-flex justify-content-end">
        <li class="breadcrumb-item"><a href="/employee/index">Employee</a></li>
        <li class="breadcrumb-item active" aria-current="page">Create</li>
    </ol>
  </nav>



  <h1 class="h2">Employees</h1>


  <div class="row my-4">
    <form [formGroup]="form" (ngSubmit)="submit()">
      <div class="col-lg-8">
        <div class="card shadow">
          <div class="card-body">

            <div class="form-group">
              <label class="col-form-label">Fullname</label>
              <input type="text" class="form-control"formControlName="fullname" >
              <div *ngIf="f['fullname'].touched && f['fullname'].invalid" class="alert alert-danger">
                <div *ngIf="f['fullname'].errors && f['fullname'].errors['required']">Fullname is required.</div>
              </div>
            </div>
            <div class="form-group">
              <label class="col-form-label">Email</label>
              <input type="text" class="form-control"formControlName="email" >
              <div *ngIf="f['email'].touched && f['email'].invalid" class="alert alert-danger">
                <div *ngIf="f['email'].errors && f['email'].errors['required']">Email is required.</div>
              </div>
            </div>
            <div class="form-group">
              <label class="col-form-label">Salary</label>
              <input type="text" class="form-control"formControlName="salary" >
              <div *ngIf="f['salary'].touched && f['salary'].invalid" class="alert alert-danger">
                <div *ngIf="f['salary'].errors && f['salary'].errors['required']">Salary is required.</div>
              </div>
            </div>
            <div class="form-group">
              <label class="col-form-label">Status</label>
              <input type="text" class="form-control"formControlName="status" >
              <div *ngIf="f['status'].touched && f['status'].invalid" class="alert alert-danger">
                <div *ngIf="f['status'].errors && f['status'].errors['required']">Status is required.</div>
              </div>
            </div>
            <div class="form-group">
              <label class="col-form-label">Group</label>
              <input type="text" class="form-control"formControlName="group" >
              <div *ngIf="f['group'].touched && f['group'].invalid" class="alert alert-danger">
                <div *ngIf="f['group'].errors && f['group'].errors['required']">Group is required.</div>
              </div>
            </div>

            <div class="d-flex justify-content-end mt-5">
              <button type="submit" class="btn btn-primary mr-2">Submit</button>
              <button type="reset" class="btn btn-secondary mr-2">Reset</button>
              <button class="btn btn-danger" routerLink="/employee/index">Cancel</button>
            </div>


          </div>
        </div>
      </div>
    </form>
  </div>

</section>

