
<section>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb d-flex justify-content-end">
        <li class="breadcrumb-item"><a href="/employee/index">Employee</a></li>
        <li class="breadcrumb-item active" aria-current="page">Overview</li>
    </ol>
  </nav>



  <h1 class="h2">Employees</h1>


  <div class="row my-4">
    <div class="card shadow">
      <div class="card-body">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>ID</th>
              <th>Fullname</th>
              <th>Email</th>
              <th>Salary</th>
              <th>Status</th>
              <th>Group</th>
              <th>Options</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let employee of employees">
              <td>{{ employee.id }}</td>
              <td>{{ employee.fullname }}</td>
              <td>{{ employee.email }}</td>
              <td>{{ employee.salary }}</td>
              <td>{{ employee.status }}</td>
              <td>{{ employee.group }}</td>
              <td>
                <a class="btn btn-success mr-2" href="#" [routerLink]="['/employee/', employee.id, 'detail']">View</a>
                <a class="btn btn-primary mr-2" href="#" [routerLink]="['/employee/', employee.id, 'update']">Update</a>
                <button type="button" class="btn btn-danger" (click)="deleteEmployee(employee.id)">Delete</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>

</section>

