
<section>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb d-flex justify-content-end">
        <li class="breadcrumb-item"><a href="/employee/index">Employee</a></li>
        <li class="breadcrumb-item active" aria-current="page">Overview</li>
    </ol>
  </nav>



  <h1 class="h2">Employees</h1>


  <div class="row my-4">
    <div class="card shadow">
      <div class="card-body">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>ID</th>
              <th>Fullname</th>
              <th>Email</th>
              <th>Salary</th>
              <th>Status</th>
              <th>Group</th>
              <th>Options</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>Mara karma</td>
              <td>mara@gmail.com </td>
              <td>176868</td>
              <td>Active</td>
              <td>Developer</td>
              <td>
                <button class="btn btn-primary">Detail</button>
                <button class="btn btn-primary">Edit</button>
                <button class="btn btn-primary">Delete</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>

</section>

